{%extends 'base.html'%}

{%block head%}
<title>Register - WebbForms</title>
{%endblock%}


{% block body %}
<div class="content-container">
    {%if user.is_authenticated%}
    <h2>You're already logged in as {{user.username}}</h2>
    <a href="{% url 'logout' %}"><button class="btn btn-outline-dark btn-sm">Logout</button></a>
    {%else%}
    <div class="formcontainer">
        <h2>Create a WebbForms Account</h2>
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Username">
            <label for="pass">Set Password</label>
            <input type="password" id="pass" name="pass"/>
            <label for="pass2">Confirm Password</label>
            <input type="password" name="pass2" id="pass2"/>
            <ul>
                <li>Username cannot contain space</li>
                <li>Password should be at least 8 characters</li>
                <li>Password should contain at least one english alhabet</li>
                <li>Password should contain at least one numeric character</li>
            </ul>
            <button class="btn btn-outline-dark" type="button" onclick="validateForm()">Submit</button>
        {%if error%}
        <p style="color: red">{{error}}</p>
        {%endif%}
        </form>
        <div style="margin-top: 45px;">Already a user?  <a href="{% url 'login' %}"><button class="btn btn-dark btn-sm">Login</button></a></div>

        {%endif%}
    </div>
</div>



<script>
    // validate username and password
    function validateForm(){
        var username = document.getElementById("username").value;
        var pass1 = document.getElementById('pass').value;
        var pass2 = document.getElementById('pass2').value;

        if(username.includes(' ')){
            alert("Username cannot contain space");
            return;
        }
        if(/\d/.test(pass1) && /[a-zA-Z]/.test(pass1) && pass1.length >= 8){
            if(pass1!==pass2){
                alert('Passwords do not match');
                return;
            }
            else{
                document.querySelector('form').submit();
            }
        }
        else alert('Weak password');
    }
</script>
{%endblock%}